# Nagios plugin configuration
NAGIOS_AMAZON_PLUGIN_PATH=/usr/local/nagios/libexec/amazon
AMAZON_AMI_KEY_PATH=${NAGIOS_AMAZON_PLUGIN_PATH}/keys

# Global EC2 AMI configuration
EC2_HOME=${NAGIOS_AMAZON_PLUGIN_PATH}/tools
if [ -z $JAVA_HOME ]
then
  JAVA_HOME=/usr
fi
export EC2_REGION="eu-west-1"

# Global ELB configuration
AWS_ELB_HOME=${NAGIOS_AMAZON_PLUGIN_PATH}/tools

EC2_PRIVATE_KEY=${AMAZON_AMI_KEY_PATH}/****my-cert-key****.key
EC2_CERT=${AMAZON_AMI_KEY_PATH}/****my-cert****.crt
#EC2_URL=

# If no load balancer name is specified to script use the first one return by elb-describe-lbs
ELB_TRY_FIRST_LB=true
